beautifulsoup4==4.9.1
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
idna==2.10
pip==20.2.2
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
requests==2.24.0
setuptools==49.6.0.post20200814
six==1.15.0
soupsieve==2.0.1
stop-words==2018.7.23
tabulate==0.8.7
urllib3==1.25.10
wheel==0.35.1
wincertstore==0.2
win-inet-pton==1.1.0
